
/* Intro ================================== */
#intro{
    max-width: 90%;
    margin-bottom: 4em;
  }
#title-container{
  background-color: var(--main-color);
  width: fit-content;
  padding: 0 70px;
}
  .intro-h2{
    font-weight: bold;
    font-size: 60px;
    color: white;
  }
  .intro-h4{
    font-weight: 100;
    font-size: 20px;
    opacity: .8;
  }
  .twitter{
    padding: 5px 10px;
    background-color: #1DA1F2;
    color: white;
    text-decoration: none;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    font-size: 20px;
}