
body {
  margin: 0;
  padding: 0;
  font-family: 'Space Mono','Hind', sans-serif;
  box-sizing: border-box;
}

/* Main Container ======================== */
.container {
  margin: 20px 100px;
}

:root{
  --main-color: #22E792;
}

.sub-title{
  color: var(--main-color);
  font-size: 30px;
  margin-bottom: 0;
  font-weight: bolder;
}