
body {
  margin: 0;
  padding: 0;
  font-family: 'Hind', sans-serif;
}

/* Main Container ======================== */

.container {
  color: #708090;
  margin: 20px 150px;
}
#nav-container{
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
}

/* NavBar ===================== */
.navlink {
  text-decoration: none;
  color: #999;
  margin-right: 10px;
}

/* Intro ================================== */
#intro{
  max-width: 50%;
}
.intro-h2{
  font-weight: 100;
  font-size: 35px;
  margin-bottom: 0;
}
#intro-h4{
  font-weight: 100;
  font-size: 25px;
}
.twitter{
  padding: 3px 14px;
  background-color: #1DA1F2;
  color: white;
  text-decoration: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  animation: radial-pulse 1s infinite;
  -webkit-animation: radial-pulse 1s infinite;
}

/* Skills =========================== */
.skills-container {
  display: grid;
  grid-template-columns: repeat(6, minmax(70px, 1fr));
  grid-gap: 10px;
}
.skill-icon-container {
  display: flex;
  justify-content: space-around;
  padding: 0 5px;
  align-items: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  color: white;
}
.skills-icon {
  font-size: 30px;
}
.skill-title{
  font-size: 22px;
}
/* Child */
#react {
  background-color: #61DAFB;
}
#node {
  background-color: #7AB560;
}
#javascript {
  background-color: #F0DB4F;
}
#mongodb {
  background-color: #4FAA41;
}
#css3 {
  background-color: #3D8FC6;
}
#html5 {
  background-color: #E54D26;
}
#bootstrap {
  background-color: #59407F;
}
#graphql {
  background-color: #E535AB;
}
#apollo {
  background-color: #1D127D;
}
#git {
  background-color: #F34F29;
}
#express {
  background-color: #444444;
}
#heroku {
  background-color: #6762A6;
}
/* Social ================================= */
.social {
  margin-top: 30px;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
}
.social > * {
  padding: 25px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  flex-wrap: wrap;
  flex-basis: 220px;
  text-align: center;
  height: 100px;
  transition: .2s ease;
  -webkit-transition: .2s ease;
  -moz-transition: .2s ease;
  -ms-transition: .2s ease;
  -o-transition: .2s ease;
}

.social > * > a {
  text-decoration: none;
}

.social > *:hover{
  box-shadow: 0 6px 40px #555;
  cursor: pointer;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#gh{
  background-color: #24292E;
}
#insta{
  background-color: #E4405F;
}
#codepen{
  background-color:#191A1D
}
#s-title {
  color: white;
  opacity: .8;
  font-size: 14px;
}

/* Footer =========================== */

footer{
  margin-top: 40px;
}


/* Media Queries ================================================ */
@media only screen and (max-width: 1040px) {
  #intro {
    max-width: 80%;
  }
  .skills-container {
    grid-template-columns: repeat(4, minmax(30px, 1fr));
  }
  .social > * {
    padding: 20px;
    flex-basis: 170px;
  }
}

@media only screen and (max-width: 1000px) and  (max-width: 960px){
  #intro {
    max-width: 80%;
  }
  .social > * {
    padding: 18px;
    flex-basis: 150px;
  }
}

@media only screen and (max-width: 850px) {
  .intro-h2{
    font-size: 30px;
  }
  #intro-h4{
    font-size: 22px;
  }
  .skills-container {
    grid-template-columns: repeat(3, minmax(30px, 1fr));
  }
  .social > * {
    padding: 15px;
    flex-basis: 120px;
  }
}

@media only screen and (max-width: 720px) {
  .skills-container {
    grid-template-columns: repeat(2, minmax(30px, 1fr));
  }
}

@media only screen and (max-width: 750px) {
  .intro-h2{
    font-size: 30px;
  }
  #intro-h4{
    font-size: 22px;
  }
  .social > * {
    padding: 10px;
    flex-basis: 100px;
  }
}

@media only screen and (max-width: 700px) {
  .container{
    margin: 20px 120px;
  }
  .intro-h2{
    font-size: 27px;
  }
  #intro-h4{
    font-size: 20px;
  }
  .social > * {
    padding: 10px;
    flex-basis: 100px;
  }
}

@media only screen and (max-width: 630px) {

  .container{
    margin: 20px 90px;
  }

  .social {
    display: block;
  }
  .social > * {
    margin: 10px;
  }
}

@media only screen and (max-width: 630px) {

  .container{
    margin: 20px 80px;
  }
  .intro{
    width: 100%;
  }
  .intro-h2{
    font-size: 35px
  }
  #intro-h4{
    font-size: 18px;
  }
}

@media only screen and (max-width: 630px) {

  .container{
    margin: 20px 80px;
  }
  .intro{
    width: 100%;
  }
  .intro-h2{
    font-size: 35px
  }
  #intro-h4{
    font-size: 18px;
  }
}

@media only screen and (max-width: 560px) {

  .container{
    margin: 20px 40px;
  }
}

@media only screen and (max-width: 400px) {

  .intro-h2{
    font-size: 28px
  }
  #intro-h4{
    font-size: 16px;
  }
  #nav-container {
    justify-content: center;
  }
}

noscript {
  color: #708090;
}


/* Animation */
@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0px rgba(0, 0, 255, 0.596);
  }
  100% {
    box-shadow: 0 0 50px rgba(0, 0, 255, 0);
  }
}